<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content  %}
        <h1>Congrats Your integration is successfull to our Boilerplate
        <p style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: medium;">Further change your project name by just typing this command in your terminal window of your project</p>
        <code>
            python manage.py rename Django-boilerplate your_project_name
            <hr>
            <br>

        in case of mac and linux:<br>
        <hr>
            python3 manage.py rename Django-boilerplate your_project_name
        </code>

    {% endblock  %}
</body>
</html>